#shark{

    left: 100px; top: 400px;
    position: absolute;
    animation-name: shark;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;

}
@keyframes shark{
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    50% {left: 700px; top: 100px;}
    60% {left: 600px; top: 200px;}
    80% {left: 500px; top: 300px;}
    100% {left: 100px; top: 400px;transform: scaleX(-1);}
}
/*-------------------------------------------------------------*/
#turtle {
    top: 600px; left: 100px;
    position: absolute;
    animation-name: turtle;
    animation-duration: 15s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite ;
    animation-play-state: running;
}

@keyframes turtle{
    0% {left: 100px; top: 600px;}
    20% {left: 300px; top: 600px;}
    40% {left: 500px; top: 550px;}
    50% {left: 700px; top: 600px;}
    60% {left: 600px; top: 600px;}
    80% {left: 500px; top: 600px;}
    100% {left: 100px; top: 600px;transform: scaleX(-1);}
}
/*-------------------------------------------------------------*/

#diver1 {
    left: 10px;
    position: absolute;
    animation-name: diver1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;


}
@keyframes diver1{
    0% {left: 10px; top: 10px}
    20% {left: 10px; top: 70px;}
    40% {left: 10px; top: 150px;}
    50% {left: 10px; top: 300px;}
    60% {left: 10px; top: 150px;}
    80% {left: 10px; top: 70px;}
    100% {left: 10px; top: 10px;transform: scaleX(-1);}
}

/* ---------------------------------------------------------------------- */
#diver2 {
    left: 700px;
    position: absolute;
    animation-name: diver2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;


}
@keyframes diver2{
    0% {left: 700px; top: 800px}
    20% {left: 700px; top: 600px;}
    40% {left: 700px; top: 300px;}
    50% {left: 700px; top: 100px;}
    60% {left: 700px; top: 300px;}
    80% {left: 700px; top: 600px;}
    100% {left: 700px; top: 800px;transform: scaleX(-1);}
}

/* ---------------------------------------------- */
#diver3 {
    left: 100px; bottom: 10px;
    position: absolute;
    animation-name: diver3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;


}
@keyframes diver3{
    0% {left: 10px; bottom;: 10px}
    20% {left: 10px; bottom: 70px;}
    40% {left: 10px; bottom: 150px;}
    50% {left: 10px; bottom: 300px;}
    60% {left: 10px; bottom: 150px;}
    80% {left: 10px; bottom: 70px;}
    100% {left: 10px; bottom: 10px;transform: scaleX(-1);}
}
/* ---------------------------------------------- */
#fish1 {
    left: 100px;
    position: absolute;
    animation-name: fish1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;


}
@keyframes fish1{
    0% {left: 100px; top: 850px}
    20% {left: 200px; top: 800px;}
    40% {left: 350px; top: 900px;}
    50% {left: 600px; top: 800px;}
    60% {left: 350px; top: 900px;}
    80% {left: 200px; top: 800px;}
    100% {left: 100px; top: 850px;transform: scaleX(-1);}
}

/* ---------------------------------------------- */
#fish2 {
    left: 100px;
    position: absolute;
    animation-name: fish2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;


}
@keyframes fish2{
    0% {left: 700px; top: 10px}
    20% {left: 500px; top: 70px;}
    40% {left: 300px; top: 150px;}
    50% {left: 100px; top: 100px;}
    60% {left: 300px; top: 150px;}
    80% {left: 500px; top: 70px;}
    100% {left: 700px; top: 10px;transform: scaleX(-1);}
}